@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body{
  background-image: url(backgroundnew.png);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opac{
  height: 1000px;
  width: 10000px;
  opacity: 0.6;
}
.bodyContainer
{
  position:absolute;
  top:0; 
}
.name{
  font-size: 450%;
  color: #1ed2f4;
  margin-left: 2%;
  letter-spacing: 20px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;animation: shake 3s;
  animation-timing-function: alternate;
  animation-iteration-count: infinite;
}
.intro{
  margin-top: 4%;
  color: #FFFFFF;
  font-size: 200%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.b{ 
  color: #000000;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 15%;
  border-style: solid;
  border-color: #202020;
  background-color: #fdd947;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 30px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
#b1{
  margin-left: 8%;
}
#b2{
  margin-top: -5%;
  margin-left: 75%;
}
#b3{
  margin-top: 2%;
  margin-left: 42%;
  margin-bottom: 2%;
}
#b4{
  margin-left: 8%;
}
#b5{
  margin-left: 75%;
  margin-top: -5%;
}
.b:hover{
  background-color: #1ed2f4;
  border-color: #1ed2f4;
  letter-spacing: 3px;
}
@keyframes shake {
  0% { letter-spacing: 20px;}
  5% { letter-spacing: 20.5px;}
  10% { letter-spacing: 21px; }
  15% { letter-spacing: 21.5px; }
  20% { letter-spacing: 22px; }
  25% { letter-spacing: 22.5px; }
  30% { letter-spacing: 23px; }
  35% { letter-spacing: 23.5px; }
  40% { letter-spacing: 24px; }
  45% { letter-spacing: 24.5px; }
  50% { letter-spacing: 25px; }
  55% { letter-spacing: 24.5px; }
  60% { letter-spacing: 24px; }
  65% { letter-spacing: 23.5px; }
  70% { letter-spacing: 23px; }
  75% { letter-spacing: 22.5px; }
  80% { letter-spacing: 22px; }
  85% { letter-spacing: 21.5px; }
  90% { letter-spacing: 21px; }
  95% { letter-spacing: 20.5px; }
  100% {letter-spacing: 20px;  }
}
.end{
  margin-top: 2%;
  margin-left: 42%;
  float: left;
}
.ln{
  margin-top: 2%;
  color: #FFFFFF;
  cursor: pointer;
}
